/* [project]/src/app/page.module.css (css, css module, ssr) */
.main__page__f5f955c {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.description__page__f5f955c {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}
.description__page__f5f955c a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.description__page__f5f955c p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}
.code__page__f5f955c {
  font-weight: 700;
  font-family: var(--font-mono);
}
.grid__page__f5f955c {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  width: var(--max-width);
  max-width: 100%;
}
.card__page__f5f955c {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}
.card__page__f5f955c span {
  display: inline-block;
  transition: transform 200ms;
}
.card__page__f5f955c h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}
.card__page__f5f955c p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}
.center__page__f5f955c {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}
.center__page__f5f955c::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}
.center__page__f5f955c::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}
.center__page__f5f955c::before, 
.center__page__f5f955c::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translatez(0);
}
.logo__page__f5f955c {
  position: relative;
}
@media (hover: hover) and (pointer: fine) {
  .card__page__f5f955c:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }
  .card__page__f5f955c:hover span {
    transform: translatex(4px);
  }
}
@media (prefers-reduced-motion) {
  .card__page__f5f955c:hover span {
    transform: none;
  }
}
@media (max-width: 700px) {
  .content__page__f5f955c {
    padding: 4rem;
  }
  .grid__page__f5f955c {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }
  .card__page__f5f955c {
    padding: 1rem 2.5rem;
  }
  .card__page__f5f955c h2 {
    margin-bottom: 0.5rem;
  }
  .center__page__f5f955c {
    padding: 8rem 0 6rem;
  }
  .center__page__f5f955c::before {
    transform: none;
    height: 300px;
  }
  .description__page__f5f955c {
    font-size: 0.8rem;
  }
  .description__page__f5f955c a {
    padding: 1rem;
  }
  .description__page__f5f955c p, 
  .description__page__f5f955c div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }
  .description__page__f5f955c p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(to bottom, rgba(var(--background-start-rgb), 1), rgba(var(--callout-rgb), 0.5));
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }
  .description__page__f5f955c div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(to bottom, transparent 0%, rgb(var(--background-end-rgb)) 40%);
    z-index: 1;
  }
}
@media (min-width: 701px) and (max-width: 1120px) {
  .grid__page__f5f955c {
    grid-template-columns: repeat(2, 50%);
  }
}
@media (prefers-color-scheme: dark) {
  .vercelLogo__page__f5f955c {
    filter: invert(1);
  }
  .logo__page__f5f955c {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}
@keyframes rotate__page__f5f955c {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}